VITE_KEYCLOAK_URL=https://shopisel-keycloak-fly.fly.dev
VITE_KEYCLOAK_REALM=shopisel
VITE_KEYCLOAK_CLIENT_ID=shopisel-web
VITE_API_BASE_URL=/api
DEV_API_PROXY_TARGET=https://shopisel-gateway-fly.fly.dev
DEV_API_PROXY_STRIP_API_PREFIX=false
